.dialog {
  width: calc(100vw - calc(var(--spacing) * 1));
  max-width: 640px;
  padding: 2.4rem;
  margin: auto;
  background-color: var(--color-primary);
  border: 1px solid oklch(from currentcolor l c h / 12%);
  border-radius: calc(var(--spacing) * 0.36);

  &::backdrop {
    background: oklch(from var(--color-primary) l c h / 36%);
    backdrop-filter: blur(6px);
  }
}

.close {
  position: absolute;
  top: 1.2rem;
  right: 1.2rem;
  translate: 50% -50%;
}
