.dialog {
  width: calc(100vw - calc(var(--spacing) * 1));
  max-width: 640px;
  padding: 2.4rem;
  margin: auto;
}

.close {
  position: absolute;
  top: 1.2rem;
  right: 1.2rem;
  translate: 50% -50%;
}
